.searchBar { 
    margin-bottom: 12px;
    width: 400px;
    margin-left: 12px;

}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: lightblue;
    width: 150px;
}

.right-section {
    background-color: lightblue;
    width: 150px;
}
.middle-section {
    flex: 1;
    background-color: lightpink;
    max-width: 500px;
}
